$blue_1: #6db6f6;
$blue_2: #1f97fa;
$blue_3: #00b7ff;
$blue: #06a9f4;

$orange_1:#ffb900;
$orange_2:#ff7730;

$green_1:#7ed56f;
$green_2:#28b485;

$red:#ff0000;

$first_panel_bg : "../img/x.jpg";
$third_panel_bg: "../img/hero.jpg";
$card_image_1: "../img/nat-6.jpg";
$card_image_2: "../img/nat-7.jpg";
$card_image_3: "../img/nat-5.jpg";
$book_image: "../img/nat-10.jpg";
$font_size : 8px;
$default-font-size: 1rem;
$font_family : 'Courier New',
Courier,
monospace;
$line_height : 1.7;
$font_weight : 400;

$gray_color: #777777;
$white_color : #ffffff;
$gray_shadow_color: #00000075;
$gray_color_1: #f7f7f7;
$gray_color_2:#d2d1d1;
$gray_color_3:#4c4c4c;
$black_color: #000000;

$grid-width: 80rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;